<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preditores de correlação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://kit.fontawesome.com/69d4d7b6b7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Preditor BHT</h1>

    <div class=" menu">
        <label for="arqTrace">Escolha o arquivo de trace:</label><br>
        <input id="arqTrace" type="file" onload="lerArquivo()">

        <label for="m">Escolha o valor de m:</label>
        <input id="m" type="number" min="5" max="15" value="5">

        <label for="n">Escolha o valor de n:</label>
        <input id="n" type="number" min="2" max="5" value="5">

        <button id="btn-iniSim">Inciar simulação</button>
        <button type="button" onclick="showHelp()" class="btn btn-info" data-toggle="tooltip" data-placement="bottom"
            title="Obtenha as instruções de uso desse preditor"><i class="fas fa-question"></i></button>
    </div>

    <div id="resultados">
        <label for="result-qtd-desvs">Número de desvios encontrados:</label>
        <div id="result-qtd-desvs">0</div>

        <label for="result-num-misspred">Erros de predição:</label>
        <div id="result-num-misspred">0</div>

        <label for="result-taxa-misspred">Taxa de erro de predição:</label>
        <div id="result-taxa-misspred">0%</div>
    </div>

    <div id="div-tabelas">
        <table id="tabela-desvios" class="tabela">
            <caption> <strong>DESVIOS</strong></caption>
            <thead>
                <tr>
                    <th>endereço</th>
                    <th>direção<br>predita</th>
                    <th>direção<br>realizada</th>
                </tr>
            </thead>
            <tbody id="tbody-desvios"></tbody>
        </table>

        <table id="tabela-bht" class="tabela">
            <caption> <strong>BHT</strong></caption>
            <thead>
                <tr>
                    <th>endereço</th>
                    <th>histórico</th>
                </tr>
            </thead>
            <tbody id="tbody-bht"></tbody>
        </table>
        <table id="tabela-pht" class="tabela">
            <caption> <strong>PADRÃO DOS DESVIOS</strong></caption>
            <thead>
                <tr>
                    <th>endereço</th>
                    <th id="th-contadores">contadores</th>
                </tr>
            </thead>
            <tbody id="tbody-pht"></tbody>
        </table>
    </div>


    <script type="text/javascript" charset="UTF-8">
        /* "desvios" armazenará os dados do arquivo de trace em um array de arrays onde cada 
        array elemento é da forma [endereço do desvio, direção do desvio] */
        var desvios = []

        // Lê o arquivo trace selecionado pelo usuário e preenche o Array "desvios"
        $('#arqTrace').change(function (e) {
            arquivo = e.target.files[0]
            fr = new FileReader()
            fr.onload = function () {
                linhas = fr.result.split('\n')

                // Remove a última linha, se ela for vazia
                if (linhas[linhas.length - 1] == '')
                    linhas.pop()

                for (i = 0; i < linhas.length; ++i) {
                    var [enderDesvio, direcao] = linhas[i].split(' ')
                    desvios.push([enderDesvio, direcao])
                }
            }
            fr.readAsText(arquivo)
        })

        // Seta o valor máximo de n para o valor de m, quando m for setado
        $('#m').change(function () {
            $('#n').attr('max', $('#m').val())
        })

        var m, n, BHT, PHT
        // Inicia a simulação quando o botão "Iniciar simulação" for pressionado
        $('#btn-iniSim').click(function () {
            // Desativa alterações em m e n e a entrada de arquivo
            $('#m').prop('disabled', true)
            $('#n').prop('disabled', true)
            $('#arqTrace').prop('disabled', true)

            // inicializa as variáveis m e n com os valores selecionados pelo usuário
            m = $('#m').val()
            n = $('#n').val()

            carregarTabelaDesvios(desvios) // Exibe os endereços na tabela de desvios 
            BHT = carregarBHT(desvios, m, n) // Exibe o estado inicial da BHT
            PHT = carregarPHT(BHT, n) // Exibe o estado inicial da PHT

            // executa a simulação passo a passo
            simular(desvios, BHT, PHT, m, n)

            $(this).prop('disabled', true) // Desativa o botão "Iniciar simulação"
        })

        function simular(desvios, BHT, PHT, m, n) {
            var linhaBHTanterior, linhaPHTanterior, tdContadAnterior
            var i = 0, qtdMissPred = 0
            function loop() {
                setTimeout(function () {
                    // Executa a previsão do i-ésimo desvio
                    enderecoDesv = desvios[i][0]
                    previsao = preverDesvio(enderecoDesv, BHT, PHT, m, i)

                    // Atualiza a direção realizada
                    dirRealizada = desvios[i][1]
                    $('#realiz-' + i.toString()).text(dirRealizada)

                    // Atuliza o painel de resultados
                    $('#result-qtd-desvs').text(i + 1)
                    if (previsao.toLowerCase() != dirRealizada.toLowerCase())
                        qtdMissPred++
                    $('#result-num-misspred').text(qtdMissPred)
                    $('#result-taxa-misspred').text((qtdMissPred * 100 / (i + 1)).toFixed(2) + '%')

                    // Colore a tabela de desvios de acordo com a corretude da previsão
                    atualizarTabDesvios(previsao, dirRealizada, i)

                    // Remove a coloração da linha anterior da da BHT  
                    linhaBHTatual = $('#BHT-' + enderecoHexToMFormat(enderecoDesv, m))
                    if (i > 0 && linhaBHTatual != linhaBHTanterior) {
                        linhaBHTanterior.css({ 'background-color': 'transparent' })
                    }
                    // Atualiza o histórico de desvios indexado por "enderDesvio" na "BHT"
                    // de acordo com "dirRealizada"
                    linhaBHTatual.css({ 'background-color': 'red' })
                    atualizarBHT(BHT, enderecoDesv, dirRealizada, m)
                    linhaBHTanterior = linhaBHTatual

                    // Atuliza o contador indexado pelo histórico do desvio atual de acordo com "dirRealizada"
                    tdContadAtual = atualizarPHT(PHT, enderecoDesv, dirRealizada, m)
                    if (tdContadAnterior && tdContadAnterior != tdContadAtual)
                        tdContadAnterior.css({ 'background-color': 'transparent' })
                    tdContadAnterior = tdContadAtual
                    linhaPHTatual = $('#PHT-' + enderecoHexToMFormat(enderecoDesv, m))
                    linhaPHTatual.css({ 'background-color': 'gray' })
                    if (linhaPHTanterior && linhaPHTatual != linhaPHTanterior)
                        linhaPHTanterior.css({ 'background-color': 'transparent' })
                    linhaPHTanterior = linhaPHTatual

                    ++i
                    if (i < desvios.length) {
                        loop()
                    }
                }, 100)
            }
            loop()
        }

        function atualizarTabDesvios(previsao, dirRealizada, i) {
            // Colore a tabela de desvios de acordo com a corretude da previsão
            tdPrevisao = $('#prev-' + i.toString())
            if (previsao.toLowerCase() == dirRealizada.toLowerCase())
                tdPrevisao.css({ 'background-color': 'green' })
            else
                tdPrevisao.css({ 'background-color': 'red' })
        }


        function atualizarBHT(BHT, enderDesvio, dirRealizada, m) {
            // Atualiza o histórico de desvios indexado por "enderDesvio" na "BHT"
            // de acordo com "dirRealizada"
            indiceBHT = enderecoHexToMFormat(enderecoDesv, m)
            if (dirRealizada.toLowerCase() == 't')
                BHT[indiceBHT].unshift(1)
            else
                BHT[indiceBHT].unshift(0)
            BHT[indiceBHT].pop()
            $('#hist-' + indiceBHT).text(BHT[indiceBHT])
        }

        function atualizarPHT(PHT, enderDesvio, dirRealizada, m) {
            enderDesvMFormat = enderecoHexToMFormat(enderDesvio, m)
            contadores = PHT[enderDesvMFormat]
            strHistDesv = BHT[enderDesvMFormat].join('')
            indiceContador = historicoToIndice(strHistDesv)
            contador = contadores[indiceContador]
            tdContad = $('#conts-' + enderDesvMFormat + '-' + indiceContador)
            if (dirRealizada.toLowerCase() == 't')
                contador.incrementar()
            else
                contador.decrementar()
            tdContad.css({ 'background-color': 'red' })
            tdContad.text(contador.valor)
            return tdContad
        }


        function historicoToIndice(strHist) {
            /*Converte uma string na forma "[b1, b2, ..., bn]"(Histórico de desvios), 
            onde bi pertence a {0, 1} para um inteiro entre 0 e 2^n - 1*/
            var strHistBits = strHist.replace(/\[|\]|,/g, '')
            var numDecimal = parseInt(strHistBits, 2)
            return numDecimal
        }

        function enderecoHexToMFormat(strEnderDesv, m) {
            // Converte um endereço de desvio em hexadecimal para os m bits LSB 
            // excluindo-se os dois bits menos significativos
            enderBin32B = hexToBin32(strEnderDesv)
            return enderBin32B.substring(32 - m - 2, 32 - 2)
        }

        function preverDesvio(enderecoDesvio, BHT, PHT, m, i) {
            enderInMFormat = enderecoHexToMFormat(enderecoDesvio, m)
            histDoDesvio = BHT[enderInMFormat]
            histDesvStr = histDoDesvio.join('')
            indiceContad = historicoToIndice(histDesvStr)
            contadores = PHT[enderInMFormat]
            contador = contadores[indiceContad]
            if (contador.valor >= 2) {
                $('#prev-' + i.toString()).text('T')
                return 'T'
            }
            else {
                $('#prev-' + i.toString()).text('N')
                return 'N'
            }
        }

        function hexToBin32(stringHex) {
            var binStr = parseInt(stringHex, 16).toString(2)
            var numZerosAd = 32 - binStr.length
            for (let i = 0; i < numZerosAd; ++i)
                binStr = '0' + binStr
            return binStr
        }

        function carregarTabelaDesvios(desvios) {
            tabelaDesvios = $('#tabela-desvios')
            for (i = 0; i < desvios.length; ++i) {
                tabelaDesvios.children('tbody').append('<tr id="desv-' + i.toString() + '"\
                     name="linha-desvios">\
                        <td>'+ desvios[i][0] + '</td>\
                        <td id="prev-'+ i.toString() + '"' + '></td>\
                        <td id="realiz-'+ i.toString() + '"' + '></td>\
                    </tr>')
                //$('#tbody-desvios').scrollTop($('#tbody-desvios').prop('scrollHeight'))
            }
        }

        function carregarBHT(desvios, m, n) {

            // Cria e inicializa um objeto BHT no formato {endereço desvio: histtórico}
            BHT = {}
            tbodyTabBHT = $('#tabela-bht').children('tbody')
            for (i = 0; i < desvios.length; ++i) {
                enderDesvioHex = desvios[i][0]
                // converte para binário e mantém apenas o m LSB sem considerar os 2 bits menos significativos
                enderLinhaBHT = hexToBin32(enderDesvioHex).substring(32 - m - 2, 32 - 2)
                if (!(enderLinhaBHT in BHT)) {
                    historico = new Array(parseInt(n)).fill(0) // cria um objeto Array contendo n zeros
                    BHT[enderLinhaBHT] = historico
                    tbodyTabBHT.append('<tr id="BHT-' + enderLinhaBHT + '" name="linha-BHT">\
                        <td>'+ enderLinhaBHT + '</td><td id="hist-' + enderLinhaBHT + '">' + historico + '</td></tr>')
                }
            }
            return BHT
        }

        function carregarPHT(BHT, n) {
            enderecosBHT = Object.keys(BHT)
            PHT = {}
            for (i = 0; i < enderecosBHT.length; ++i) {
                PHT[enderecosBHT[i]] = []
                for (j = 0; j < Math.pow(2, n); ++j) {
                    PHT[enderecosBHT[i]].push(new Contador())
                }
            }
            tbodyTabPHT = $("#tabela-pht").children('tbody')
            for (i = 0; i < enderecosBHT.length; ++i) {
                tbodyTabPHT.append('<tr id="PHT-' + enderecosBHT[i] + '" name="linha-PHT">\
                    <td>'+ enderecosBHT[i] + '</td></tr>')
                linhaPHT = $('#PHT-' + enderecosBHT[i])
                contadores = PHT[enderecosBHT[i]]
                for (j = 0; j < contadores.length; ++j) {
                    linhaPHT.append('<td id="conts-' + enderecosBHT[i] + '-' + j.toString() + '"\
                        class="contadores">'+ contadores[j].valor + '</td>')
                }
            }
            /* Seta o colspan do título "contadores"*/
            $("#th-contadores").attr('colspan', Math.pow(2, n).toString())
            return PHT
        }

        class Contador {
            constructor() {
                this.valor = 2
            }

            incrementar() {
                if (this.valor < 3)
                    this.valor++
            }

            decrementar() {
                if (this.valor > 0)
                    this.valor--
            }
        }


        function showHelp() {
            let help = document.getElementById("help-div");
            if (help.style.display === "none") {
                help.style.display = "block";
            } else {
                help.style.display = "none";
            }
        }
    </script>

    <style>
        h1 {
            text-align: center;
        }

        .menu,
        #resultados {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
        }

        #resultados {
            margin-top: 50px;
            justify-content: center;
        }

        label {
            padding: 0px 10px 0px 30px
        }

        input,
        button {
            padding: 0px 10px 0px 10px;
        }

        button {
            margin: 20px 100% 0px 100%;
        }

        #div-tabelas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 50px;
        }

        table {
            text-align: center;
            border: 2px solid green;
        }

        td,
        th {
            padding: 0px 10px 0px 10px;
        }


        .contadores {
            padding: 0px 5px 0px 5px;
        }
    </style>

    <div id="help-div" class="help-container" style="display: none;">
        <hr >
        <h1>
            Este é um titulo teste
        </h1>
        <ul>
            <li>King kong</li>
            <li>Vai vencer o</li>
            <li>godzila</li>
        </ul>
    </div>
</body>

</html>