<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preditores de correlação</title>
</head>
<body>
    <h1>Preditor BHT</h1>

    <label for="arqTrace">Escolha o arquivo de trace:</label><br>
    <input id="arqTrace" type="file" onload="lerArquivo()">

    <br><br>
    <label for="m">Escolha o valor de m:</label>
    <input id="m" type="number" min="5" max="15" value="5">

    <br><br>
    <label for="n">Escolha o valor de n:</label>
    <input id="n" type="number" min="2" max="5" value="5">

    <br><br>
    <button id="btn-iniSim">Inciar simulação</button>
    
    <div id="div-main">
        <table id="tabela-desvios">
            <caption> <strong>DESVIOS</strong></caption>
            <thead>
                <th>endereço</th><th>direção<br>predita</th><th>direção<br>realizada</th>
            </thead>
            <tbody id="tbody-desvios"></tbody>
        </table>
        
        <table id="tabela-bht">
            <caption> <strong>BHT</strong></caption>
            <thead><th>endereço</th><th>histórico</th></thead>
            <tbody id="tbody-bht"></tbody>
        </table>
        <table id="tabela-pht">
            <caption> <strong>PADRÃO DOS DESVIOS</strong></caption>
            <thead>
                <th>endereço</th><th id="th-contadores">contadores</th>
            </thead>
            <tbody id="tbody-pht"></tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
   
   <script type="text/javascript" charset="UTF-8">
         /* "desvios" armazenará os dados do arquivo de trace em um array de arrays onde cada 
         array elemento é da forma [endereço do desvio, direção do desvio] */
        var desvios = []

        // Lê o arquivo trace selecionado pelo usuário e preenche o Array "desvios"
        $('#arqTrace').change(function(e){
                arquivo = e.target.files[0]
                fr = new FileReader()
                fr.onload = function(){
                    linhas = fr.result.split('\n')

                    // Remove a última linha, se ela for vazia
                    if(linhas[linhas.length - 1] == '')
                        linhas.pop()

                    for(i = 0; i < linhas.length; ++i){
                        var [enderDesvio, direcao] = linhas[i].split(' ')
                        desvios.push([enderDesvio, direcao])
                    }
                }
                fr.readAsText(arquivo)
            })
        
        // Seta o valor máximo de n para o valor de m, quando m for setado
        $('#m').change(function(){
            $('#n').attr('max', $('#m').val())
        })

        var m, n, BHT, PHT
        // Inicia a simulação quando o botão "Iniciar simulação" for pressionado
        $('#btn-iniSim').click(function(){
            // Desativa alterações em m e n e a entrada de arquivo
            $('#m').prop('disabled', true)
            $('#n').prop('disabled', true)
            $('#arqTrace').prop('disabled', true)
            
            // inicializa as variáveis m e n com os valores selecionados pelo usuário
            m = $('#m').val()
            n = $('#n').val()
            
            carregarTabelaDesvios(desvios) // Exibe os endereços na tabela de desvios 
            BHT = carregarBHT(desvios, m, n) // Exibe o estado inicial da BHT
            PHT = carregarPHT(BHT, n) // Exibe o estado inicial da PHT
            
            // executa a simulação passo a passo
            simular(desvios, BHT, PHT, m, n)

            $(this).prop('disabled', true) // Desativa o botão "Iniciar simulação"
        })

        function simular(desvios, BHT, PHT, m, n){
            var linhaBHTanterior, linhaPHTanterior, tdContadAnterior
            var i = 0
            function loop(){
                setTimeout(function(){
                    // Executa a previsão do i-ésimo desvio
                    enderecoDesv = desvios[i][0]
                    previsao = preverDesvio(enderecoDesv, BHT, PHT, m, i)
                    
                    // Atualiza a direção realizada
                    dirRealizada = desvios[i][1]
                    $('#realiz-'+i.toString()).text(dirRealizada)

                    // Colore a tabela de desvios de acordo com a corretude da previsão
                    atualizarTabDesvios(previsao, dirRealizada, i)

                    linhaBHTatual = $('#BHT-'+enderecoHexToMFormat(enderecoDesv, m))
                    if(i > 0 && linhaBHTatual != linhaBHTanterior){
                        linhaBHTanterior.css({'background-color': 'transparent'})
                    }
                    // Atualiza o histórico de desvios indexado por "enderDesvio" na "BHT"
                    // de acordo com "dirRealizada"
                    linhaBHTatual.css({'background-color': 'red'})
                    atualizarBHT(BHT, enderecoDesv, dirRealizada, m)
                    linhaBHTanterior = linhaBHTatual

                    // Atuliza o contador indexado pelo histórico do desvio atual de acordo com "dirRealizada"
                    tdContadAtual = atualizarPHT(PHT, enderecoDesv, dirRealizada, m)
                    if(tdContadAnterior && tdContadAnterior != tdContadAtual)
                        tdContadAnterior.css({'background-color': 'transparent'})
                    tdContadAnterior = tdContadAtual
                    linhaPHTatual = $('#PHT-'+enderecoHexToMFormat(enderecoDesv, m))
                    linhaPHTatual.css({'background-color': 'gray'})
                    if(linhaPHTanterior && linhaPHTatual != linhaPHTanterior)
                        linhaPHTanterior.css({'background-color': 'transparent'})
                    linhaPHTanterior = linhaPHTatual

                    ++i
                    if(i < desvios.length){
                        loop()
                    }
                }, 1000)
            }
            loop()
        }

        function atualizarTabDesvios(previsao, dirRealizada, i){
            // Colore a tabela de desvios de acordo com a corretude da previsão
            tdPrevisao = $('#prev-'+i.toString())
            if(previsao.toLowerCase() == dirRealizada.toLowerCase())
                tdPrevisao.css({'background-color': 'green'})
            else
                tdPrevisao.css({'background-color': 'red'})
        }

    
        function atualizarBHT(BHT, enderDesvio, dirRealizada, m){
            // Atualiza o histórico de desvios indexado por "enderDesvio" na "BHT"
            // de acordo com "dirRealizada"
            indiceBHT = enderecoHexToMFormat(enderecoDesv, m)
            if(dirRealizada.toLowerCase() == 't')
                BHT[indiceBHT].unshift(1)
            else
                BHT[indiceBHT].unshift(0)
            BHT[indiceBHT].pop()
            $('#hist-'+indiceBHT).text(BHT[indiceBHT])
        }

        function atualizarPHT(PHT, enderDesvio, dirRealizada, m){
            enderDesvMFormat = enderecoHexToMFormat(enderDesvio, m)
            contadores = PHT[enderDesvMFormat]
            strHistDesv = BHT[enderDesvMFormat].join('')
            indiceContador = historicoToIndice(strHistDesv)
            contador = contadores[indiceContador]
            tdContad = $('#conts-'+enderDesvMFormat+'-'+indiceContador)
            if(dirRealizada.toLowerCase() == 't')
                contador.incrementar()
            else
                contador.decrementar()
            tdContad.css({'background-color': 'red'})
            tdContad.text(contador.valor)
            return tdContad
        }
        

        function historicoToIndice(strHist){
            /*Converte uma string na forma "[b1, b2, ..., bn]"(Histórico de desvios), 
            onde bi pertence a {0, 1} para um inteiro entre 0 e 2^n - 1*/
            var strHistBits = strHist.replace(/\[|\]|,/g, '')
            var numDecimal = parseInt(strHistBits, 2)
            return numDecimal
        }

        function enderecoHexToMFormat(strEnderDesv, m){
            // Converte um endereço de desvio em hexadecimal para os m bits LSB 
            // excluindo-se os dois bits menos significativos
            enderBin32B = hexToBin32(strEnderDesv)
            return enderBin32B.substring(32 - m - 2, 32 - 2)
        }

        function preverDesvio(enderecoDesvio, BHT, PHT, m, i){
            enderInMFormat = enderecoHexToMFormat(enderecoDesvio, m)
            histDoDesvio = BHT[enderInMFormat]
            histDesvStr = histDoDesvio.join('')
            indiceContad = historicoToIndice(histDesvStr)
            contadores = PHT[enderInMFormat]
            contador = contadores[indiceContad]
            if(contador.valor >= 2){
                $('#prev-'+i.toString()).text('T')
                return 'T'
            }
            else{
                $('#prev-'+i.toString()).text('N')
                return 'N'
            }
        }
    
        function hexToBin32(stringHex){
            var binStr = parseInt(stringHex, 16).toString(2)
            var numZerosAd = 32 - binStr.length
            for(let i = 0; i < numZerosAd; ++i)
                binStr = '0' + binStr
            return binStr
        }

        function carregarTabelaDesvios(desvios){
            tabelaDesvios = $('#tabela-desvios')
            for(i = 0; i < desvios.length; ++i){
                tabelaDesvios.children('tbody').append('<tr id="desv-'+i.toString()+'"\
                     name="linha-desvios">\
                        <td>'+desvios[i][0]+'</td>\
                        <td id="prev-'+i.toString()+'"'+'></td>\
                        <td id="realiz-'+ i.toString()+'"'+'></td>\
                    </tr>')
                //$('#tbody-desvios').scrollTop($('#tbody-desvios').prop('scrollHeight'))
            }
        }

        function carregarBHT(desvios, m, n){
            
            // Cria e inicializa um objeto BHT no formato {endereço desvio: histtórico}
            BHT = {}
            tbodyTabBHT = $('#tabela-bht').children('tbody')
            for(i = 0; i < desvios.length; ++i){
                enderDesvioHex = desvios[i][0]
                // converte para binário e mantém apenas o m LSB sem considerar os 2 bits menos significativos
                enderLinhaBHT = hexToBin32(enderDesvioHex).substring(32 - m - 2, 32 - 2)
                if(!(enderLinhaBHT in BHT)){
                    historico = new Array(parseInt(n)).fill(0) // cria um objeto Array contendo n zeros
                    BHT[enderLinhaBHT] = historico
                    tbodyTabBHT.append('<tr id="BHT-'+enderLinhaBHT+'" name="linha-BHT">\
                        <td>'+enderLinhaBHT+'</td><td id="hist-'+enderLinhaBHT+'">'+historico+'</td></tr>')
                }
            }
            return BHT
        }

        function carregarPHT(BHT, n){
            enderecosBHT = Object.keys(BHT)
            PHT = {}
            for(i = 0; i < enderecosBHT.length; ++i){
                PHT[enderecosBHT[i]] = []
                for(j = 0; j < Math.pow(2, n); ++j){
                    PHT[enderecosBHT[i]].push(new Contador())
                }
            }
            tbodyTabPHT = $("#tabela-pht").children('tbody')
            for(i = 0; i < enderecosBHT.length; ++i){
                tbodyTabPHT.append('<tr id="PHT-'+enderecosBHT[i]+'" name="linha-PHT">\
                    <td>'+enderecosBHT[i]+'</td></tr>')
                linhaPHT = $('#PHT-'+enderecosBHT[i])
                contadores = PHT[enderecosBHT[i]]
                for(j = 0; j < contadores.length; ++j){
                    linhaPHT.append('<td id="conts-'+enderecosBHT[i]+'-'+j.toString()+'"\
                        class="contadores">'+contadores[j].valor+'</td>')
                }
            }
            /* Seta o colspan do título "contadores"*/
            $("#th-contadores").attr('colspan', Math.pow(2, n).toString())
            return PHT
        }

        class Contador{
            constructor(){
                this.valor = 2
            }

            incrementar(){
                if(this.valor < 3)
                    this.valor++
            }

            decrementar(){
                if(this.valor > 0)
                    this.valor--
            }
        }
    </script>

    <style>
        h1{
            text-align: center;
        }
        
        #div-main{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 50px;
        }

        table{
            text-align: center;
            border: 2px solid green;
        }

        td, th{
            padding: 0px 10px 0px 10px;
        }

        .contadores{
            padding: 0px 5px 0px 5px;
        }

    </style>
</body>
</html>